body 
{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.header ul {
    margin: 0;
}
.header li {
    display: inline;
    text-align: right;
    margin-right: 45px;
    margin-left: 5px;
}
.header {
    background-color: rgb(128, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px 0;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.footer {
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
}
.container {
background-image: url(img/background.jpg);
color: white;
padding: 30px;
}
.p1 {
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.225);
    white-space: normal;
}
.p2 {
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.225);
    white-space: normal;
}
.p3 {
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.225);
    white-space: normal; 
}
.p4 {
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.225);
    white-space: normal;
}
.p5 {
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.225);
    white-space: normal;
}
.btn {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.btn:hover {
    color: rgba(255, 255, 255, 0.51);
    border-color: rgba(255, 255, 255, 0.51);
}
.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.flex .col img {
	width: 100%;
	height: auto;
}
.flex {
	display: flex;
	justify-content: center;
	width: 960px;
	max-width: 100%;
	margin: auto;
}
.flex .col {
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	margin: 1em;
    border: 5px solid white;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.225);
    white-space: normal;

}
@media (max-width: 900px) {
	.flex {
		flex-wrap: wrap;
	}
}
.dropdown {
    position: relative;

}
.dropdown__trigger {
    cursor: pointer;
}
.dropdown__content {
    display: none;
    left: 0;
    padding-top: 0.25rem;
    position: absolute;
    top: 100%;
    background-color: rgb(128, 0, 0);
    border: 2px solid white;
    z-index: 9999;
    padding: 7px;
}
.dropdown:hover .dropdown__content {
    display: block;
}